
/*

CSS written by Tanay Vardhan [tvardha2@illinois.edu] for UIUCAUV

Headings: 

*/


@import 'https://fonts.googleapis.com/css?family=Lato:300,400';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:700,800';

@font-face {
    font-family: Rex;
    src: url('../font/Rex Bold.otf');
}


* {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapBoy {
	width: 100%;
	background-image: url('../img/wrapBG.jpg');
	height: 96%;
	padding: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-size: cover;
	color: #fff;
}

	.nav {
		width: 100%;
		height: 90px;
	}

		.nav .logo-top {
			height: 80%;
			background-image: url('../img/logo.png');
			background-size: contain;
			background-repeat: no-repeat;
			margin-left: 10px;
		}

	center.contentBox h1 {
		font-family: 'Rex';
		font-weight: 700;
		font-style: capitalize;
		font-size: 3rem;
		margin-bottom: 5px;
	}

	center.contentBox p {
		width: 50%;
		line-height: 1.75rem;
		margin-top: 0px;
		margin-bottom: 25px;
	}

	center.contentBox div.buttonBoy {
		border: 1px solid rgba(255, 255, 255, 0.65);;
		padding: 10px 10px 10px 10px;
		width: 30%;
		font-size: 1.5rem;
		color: rgba(255, 255, 255, 0.85);
		border-radius: 10px;
	}

	center.contentBox div.buttonBoy:hover {
		border: 1px solid #fff;
		cursor: pointer;
		color: rgba(255, 255, 255, 1);
	}

.content {
	width: 100%;
}


.content table {
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.35rem;
	margin-top: 20px;

}

.content table tr td {
	text-align: center;
	padding: 20px;
	width: 300px;
	vertical-align: top
}

.content table tr td b {
	margin-bottom: 15px;
}

.content center.contentBox {
	padding-left: 10%;
	padding-right: 10%;
}

.content.ctntPartners {
	background-color: #ececec;
}

